<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <welcom-file-list>
  <welcom-file>index.jsp</welcom-file>
  </welcom-file-list>

<servlet>
  <servlet-name>Consultar3</servlet-name>
  <servlet-class>Consultar3</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>Consultar3</servlet-name>
  <url-pattern>/consultar3</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>Consultar2</servlet-name>
  <servlet-class>Consultar2</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>Consultar2</servlet-name>
  <url-pattern>/consultar2</url-pattern>
</servlet-mapping>

<servlet>
  <servlet-name>Consultar1</servlet-name>
  <servlet-class>Consultar1</servlet-class>
</servlet>
<servlet-mapping>
  <servlet-name>Consultar1</servlet-name>
  <url-pattern>/consultar</url-pattern>
</servlet-mapping>

</web-app>
